@import "variables";

$dias: "semana"; 

@if($dias =="semana") {
    .contacto {
        background-image: url(../multimedia/banner.jpeg);
        color: black;
    }

}

@else if ($dias =="finde") {
    .contacto {
        background-image: url(../multimedia/serealimg.jpeg);
        color: $rojo; 
    }


}

@else if ($dias =="cumple") {

    .contacto {
        background-image: url(../multimedia/globos.jpeg);
        width: 100%;
        height: 100%;
        background-repeat: cover;
        color: $amarillo;
    }

}